In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import scipy.stats
import researchpy as rpy

In [2]:
df = pd.read_csv('../data/stent365.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   group    451 non-null    object
 1   outcome  451 non-null    object
dtypes: object(2)
memory usage: 7.2+ KB

In [4]:
df.head()

       group outcome
0  treatment  stroke
1  treatment  stroke
2  treatment  stroke
3  treatment  stroke
4  treatment  stroke

In [5]:
pd.crosstab(df['group'], df['outcome'], margins=True)

outcome    no event  stroke  All
group
control         199      28  227
treatment       179      45  224
All             378      73  451

In [6]:
pd.crosstab(df['group'], df['outcome'], normalize='index')

outcome    no event    stroke
group
control    0.876652  0.123348
treatment  0.799107  0.200893

## using stents did worse? or is this observation is just due to chance!